.active-page {
    position: absolute;
    top: 71%;
    width: 18%;
    height: 15%;
    line-height: 61px;
    left: 49%;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: 1px 1px #ffffff80;
    background: #c5a179bd;
    background-size: 13%;
    background-position-x: center;
    background-position-y: -7px;
    background-repeat: no-repeat;
    border-radius: 23px;
    border: solid 1px #ad894d;
}

.active-page-changed {
    animation-name: slide-left;
    animation-duration:2s;
}

@keyframes slide-left {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

@media only screen and (max-width:600px) {
    .active-page{
        top: 26%;
        width: 59%;
        line-height: 61px;
        left: 19%;
        font-size: 31px;
        background-size: 22%;
    }
}