body {
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.btn-default {
	/* border-color: #f9ecab; */
	border: none;
}

.text-container h3 {
	font-size: 19px;
	font-family: Montserrat;
}

.text-container ul li {
	font-family: Montserrat;
	font-size: 16px;
}

.text-container {
	color: #737373;
}

.text-container p {
	font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.text-container p a, .text-container p a:hover, .text-container p a:visited {
	color: #1e8fc7;
}

.container-white {
	position: relative;
    padding: 60px;
    color: #737373;
}

.container-white h2 {
	font-size: 36px;
	text-align: center;	
}

.container-white ul li {
	font-size: 20px;
}
.content {
	position: relative;
	height: auto;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 10px;
	background: #fff;
	max-width: 1500px;
    margin: auto;
}

.right-social {
	position: fixed;
    right: 0px;
    width: 61px;
    top: 48px;
    padding-left: 5px;
    padding-top: 12px;
    margin-right: 5px;
    border-radius: 12px;
    height: calc(100% - 52px);
}

.btn-group {
	border: 1px solid grey;
	border-radius:none;
}

.social-logo {
	filter: grayscale(100%);
}

.scroll-message {
	position: fixed;
	top: 50%;
	left: 50%;
	font-weight: bolder;
	font-size: x-large;
	color: red;
	z-index: 10;
}

.bottom {
	position: relative;
	height: 600px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@media only screen and (max-width:600px) {
	.right-social {
		display: none;
	}
	.main {
		width: 100% !important;
	}
	.text-container ul {
		left: 0%;
	}
}
